# {{ ansible_managed }}

[Unit]
Description=Create HTML host inventory

[Service]
Type=simple
User={{ html_inventory_user_name }}
Group=users
WorkingDirectory=/home/{{ html_inventory_user_name }}
ExecStart=/usr/local/bin/create-host-inventory.sh

[Install]
WantedBy=default.target
