# {{ ansible_managed }}

[Unit]
Description=Create HTML host inventory

[Service]
Type=simple
User={{ jump_host.user_name }}
Group=users
WorkingDirectory=/home/{{ jump_host.user_name }}/
ExecStart=/home/{{ jump_host.user_name }}/scripts/create-host-inventory.sh

[Install]
WantedBy=default.target
