#!/bin/bash

# {{ ansible_managed }}

# creating facts dir
mkdir -p /home/{{ html_inventory_user_name }}/facts
mkdir -p /home/{{ html_inventory_user_name }}/inventory

LOGNAME="/home/{{ html_inventory_user_name }}/inventory/$(date +%Y%m%d-%H%M%S)_log.txt"
REBOOTNAME="/home/{{ html_inventory_user_name }}/inventory/$(date +%Y%m%d-%H%M%S)_rebootcheck.txt"
HTTPFILE="/home/{{ html_inventory_user_name }}/inventory/$(date +%Y%m%d-%H%M%S)_index.html"

export ANSIBLE_LOG_PATH=/tmp/chatops_daily.txt
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_CACHE_PLUGIN_CONNECTION=/home/{{ html_inventory_user_name }}/facts
export ANSIBLE_CACHE_PLUGIN=jsonfile

# compress old thing in inventory
gzip /home/{{ html_inventory_user_name }}/inventory/*_index.html
gzip /home/{{ html_inventory_user_name }}/inventory/*_log.txt
gzip /home/{{ html_inventory_user_name }}/inventory/*_rebootcheck.txt

# removing old facts
rm -rf /home/{{ html_inventory_user_name }}/facts/*

cd "/home/{{ html_inventory_user_name }}/ansible/"

# running ansible check on all hosts and saving the facts to local dir
date > "$LOGNAME"
ANSIBLE_DISPLAY_SKIPPED_HOSTS=false ANSIBLE_DISPLAY_OK_HOSTS=false /home/{{ html_inventory_user_name }}/{{ html_inventory_venv_subdir }}/bin/ansible-playbook {{ html_inventory_gatherfacts_playbook }} --key-file /home/{{ html_inventory_user_name }}/.ssh/{{ html_inventory_ssh_key }} --check 2>&1 | tee -a "$LOGNAME"
# strip log to log.txt
cat "$LOGNAME" | sudo tee /var/www/html/log.txt 1>/dev/null
# copy full log
sudo cp "$LOGNAME" /var/www/html/

# call and save rebootcheck
date > "$REBOOTNAME"
/home/{{ html_inventory_user_name }}/{{ html_inventory_venv_subdir }}/bin/ansible-playbook {{ html_inventory_rebootcheck_playbook }} --key-file /home/{{ html_inventory_user_name }}/.ssh/{{ html_inventory_ssh_key }} --tags "rebootcheck" | grep "needs to be rebooted" | tee -a "$LOGNAME"
# copy log to webdir
cat "$REBOOTNAME" | sudo tee /var/www/html/rebootcheck.txt 1>/dev/null
# copy full log
sudo cp "$REBOOTNAME" /var/www/html/

# creating ansible-cmdb overview
# this is commented out until this is fixed: https://github.com/fboender/ansible-cmdb/pull/240
# /usr/local/bin/ansible-cmdb -f /home/{{ html_inventory_user_name }}/facts/ > "$HTTPFILE"
/home/{{ html_inventory_user_name }}/{{ html_inventory_venv_subdir }}/bin/python3 /home/oxi/.local/lib/ansiblecmdb/ansible-cmdb.py -f /home/{{ html_inventory_user_name }}/facts/ > "$HTTPFILE" cat "$HTTPFILE" | sudo tee /var/www/html/index.html 1>/dev/null

# this is disabled tue to security reasons (if the /home/{{ html_inventory_user_name }}/inventory var would be empty)
# but if the files are stacking up like stupid, they could be cleaned like:
# find /home/{{ html_inventory_user_name }}/inventory -type f -mtime +90 -delete
